<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify forgot password</title>
</head>

<body>
<div>Hello <span th:text="${fullName}"></span>,</div>
<div>
    Verification code to confirm forgot your password for <span th:text="${appName}"></span>:
    <b th:text="${code}"></b>
    <br>
    This verification code will expire in <span th:text="${expirationTime}"></span> minutes. If you did not make this
    request, please disregard this email.
    <br>
    <br>
    Thanks!

</div>
</body>

</html>
