body {
    background-color: #ececec;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.spinner-container {
    position: fixed; /* Hoặc position: absolute; tùy thuộc vào ngữ cảnh */
    top: 10%; /* Đặt vị trí ở giữa theo chiều dọc */
    left: 50%; /* Đặt vị trí ở giữa theo chiều ngang */
    transform: translate(-50%, -50%); /* Dịch chuyển để đưa spinner vào chính giữa */
}


h2 {
    text-align: center;
    color: green;
}

#con-verify {
    display: none;
}

#con-change {
    display: none;
}

#form-email {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    margin: auto;
    margin-top: 50px;
}

#form-code {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;    
    max-width: 300px;
}

#form-change {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;    
    max-width: 300px;
}

input[type=email], input[type=text] {
    width: 100%;
    font-size: 15px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    margin: 5px 0 5px 0;
    outline: none;
}




label {
    font-weight: bold;
}


input[type="password"] {
    width: 100%;
    font-size: 15px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    background-color: #f2f2f2;
    margin: 5px 0 10px 0;
    outline: none;
}


#error-message {
    color: red;
    font-weight: bold;
    font-size: 13px;
}

.info-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
#btn-code, #btn-email,
#btn-update,
#btn-back {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

#btn-update, #btn-email, #btn-code {
    background-color: #3498db;
    color: white;
}

#btn-back {
    background-color: #e74c3c;
    color: white;
}

.refresh {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 10px; */
    font-size: 15px;
}

#resend-link {
    text-decoration: none;
}

.refresh-icon {
    transition: transform 0.5s ease; /* Thêm hiệu ứng transition để làm mượt quá trình xoay */
}

.refresh-icon.rotate {
    transform: rotate(360deg); /* Xoay 360 độ */
}